<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5 layui-card-header">
                    <div class="layui-inline layui-show-block ">
                        <input type="text" name="bookName" placeholder="请输入书名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-block">
                        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>
                        </button>
                    </div>

                    <div class="layui-inline layui-show-block" >
                        <button style="background-color: aquamarine; border-radius: 5px;padding:0 5px;width:100px" th:onclick="novel()">小说</button>
                        <button style="background-color: aquamarine; border-radius: 5px;padding:0 5px;width:100px" th:onclick="history()" >历史</button>
                        <button style="background-color: aquamarine; border-radius: 5px;padding:0 5px;width:100px" th:onclick="biology()">生物</button>
                        <button style="background-color: aquamarine; border-radius: 5px;padding:0 5px;width:100px" th:onclick="computer()">计算机</button>
                        <button style="background-color: aquamarine; border-radius: 5px;padding:0 5px;width:100px" th:onclick="emotion()">情感</button>
                        <button style="background-color: aquamarine; border-radius: 5px;padding:0 5px;width:100px" th:onclick="literature()">文学</button>
                        <button style="background-color: aquamarine; border-radius: 5px;padding:0 5px;width:100px" th:onclick="geography()">地理</button>
                        <button style="background-color: aquamarine; border-radius: 5px;padding:0 5px;width:100px" th:onclick="military()">军事</button>

                    </div>

                </form>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>序号888</th>
                            <th>书籍ID</th>
                            <th>书名</th>
                            <th>作者</th>
                            <th>出版社</th>
                            <th>出版日期</th>
                            <th>单价</th>
                            <th>剩余库存</th>
                            <th>分类</th>
                            <th>ISBN号</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="book,bookStat:${bookList}">
                            <td style="text-align: center" th:text="${bookStat.count}"></td>
                            <td th:text="${book.bookID}"></td>
                            <td th:text="${book.bookName}"></td>
                            <td th:text="${book.bookAuthor}"></td>
                            <td th:text="${book.bookPublisher}"></td>
                            <td th:text="${#dates.format(book.publishTime,'yyyy年MM月dd日')}"></td>
                            <td th:text="'￥'+${book.bookPrice}"></td>
                            <td th:text="${book.bookSum-book.bookLend}"></td>
                            <td th:switch="${book.categoryID}">
                                <span th:case="001">小说</span>
                                <span th:case="002">历史</span>
                                <span th:case="003">生物</span>
                                <span th:case="004">计算机</span>
                                <span th:case="005">情感</span>
                                <span th:case="006">文学</span>
                                <span th:case="007">地理</span>
                                <span th:case="008">军事</span>
                            </td>
                            <td th:text="${book.isbn}"></td>
                            <td class="td-manage" style="text-align: center">
                                <a title="借阅" th:if="${(book.bookSum-book.bookLend)} gt 0 and ${allow} eq true"
                                   class="layui-btn"
                                   th:onclick="allow(this,[[${book.bookID}]])"
                                   href="javascript:;">
                                    <i class="layui-icon"></i>去借阅
                                </a>
                                <a title="借阅" th:if="${(book.bookSum-book.bookLend)} gt 0 and ${allow} ne true"
                                   class="layui-btn"
                                   onclick="notAllow(this)"
                                   href="javascript:;">
                                    <i class="layui-icon"></i>去借阅
                                </a>
                                <a title="借阅" th:if="${(book.bookSum-book.bookLend)} le 0 "
                                   class="layui-btn layui-btn-disabled"
                                   href="javascript:;">
                                    <i class="layui-icon"></i>去借阅
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <a class="prev" href="">&lt;&lt;</a>
                            <a class="num" href="">1</a>
                            <a class="next" href="">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    function novel(){
        $.ajax({
            url: "/reader/toBooks",
            type: "POST",
            data: {

                "categoryID": '001',

            },
            dataType: 'json',
            success: function (res) {

                window.location.reload();


            },
        });
    }
    function history(){
        $.ajax({
            url: "/reader/toBooks",
            type: "POST",
            data: {

                "categoryID": '002',

            },
            dataType: 'json',
            success: function (res) {

                window.location.reload();


            },
        });
    }
    function biology(){
        $.ajax({
            url: "/reader/toBooks",
            type: "POST",
            data: {

                "categoryID": '003',

            },
            dataType: 'json',
            success: function (res) {

                window.location.reload();


            },
        });
    }
    function computer(){
        $.ajax({
            url: "/reader/toBooks",
            type: "POST",
            data: {

                "categoryID": '004',

            },
            dataType: 'json',
            success: function (res) {

                window.location.reload();


            },
        });
    }
    function emotion(){
        $.ajax({
            url: "/reader/toBooks",
            type: "POST",
            data: {

                "categoryID": '005',

            },
            dataType: 'json',
            success: function (res) {

                window.location.reload();


            },
        });
    }
    function literature(){
        $.ajax({
            url: "/reader/toBooks",
            type: "POST",
            data: {

                "categoryID": '006',

            },
            dataType: 'json',
            success: function (res) {

                window.location.reload();


            },
        });
    }
    function geography(){
        $.ajax({
            url: "/reader/toBooks",
            type: "POST",
            data: {

                "categoryID": '007',

            },
            dataType: 'json',
            success: function (res) {

                window.location.reload();


            },
        });
    }
    function military(){
        $.ajax({
            url: "/reader/toBooks",
            type: "POST",
            data: {

                "categoryID": '008',

            },
            dataType: 'json',
            success: function (res) {

                window.location.reload();


            },
        });
    }

    layui.use([' laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        //监听全选
        form.on('checkbox(checkall)', function (data) {
            if (data.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });


        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-借书*/
    function allow(obj, bookID) {
        $.ajax({
            url: "/admin/AddBorrow",
            type: "POST",
            data: {

                "bookID": bookID,

            },
            dataType: 'json',
            success: function (res) {
                if (res.state == 1) {
                    layer.msg('已借阅!', {icon: 1, time: 1000}, function () {
                        window.location.reload();
                    });
                    return false;
                } else {
                    layer.msg(res.msg);
                    return false;
                }
            },
        });
    }

    /*用户-不准借书*/
    function notAllow(obj) {
        layer.confirm("您的借阅数量已达上限<span style='color: red;font-size: 18px'>请尽快前往图书馆归还！", {
            title:
                '通知', btn: ['知道了']
        })
    }

</script>
</html>
